.frame-box {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}
.frame-list {
	list-style: none;
}
.frame {
	display: block;
	width: 100px;
	height: 100px;
	margin-left: -40px;
	margin-bottom: 10px;
	border: 3px solid black;
	background: url('./background.png');
	background-repeat: repeat;
}
.frame:hover {
	cursor: pointer;
}
.preview-box {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.number {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	top: -97px;
	left: 3px;
	background: rgb(15, 139, 139);
	font-size: 15px;
	color: whitesmoke;
  text-align: center;
  z-index: 5;
}
.copyFrame {
	position: relative;
	top: -43px;
	left: 48px;
}
.fa-copy, .fa-trash-alt, .fa-arrows-alt {
	color: rgb(15, 139, 139);
}
.removeFrame {
	position: relative;
	top: -112px;
	left: 78px;
}
.dragFrame {
	position: relative;
	top: -43px;
	left: -8px;
}

.addNewFrame {
	width: 90px;
}
.minorZ {
	z-index: -5;
}
.superZ {
	z-index: 10;
}
