.layers-box {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 176px;
  height: 86px;
  max-height: 136px;
  background: whitesmoke;
  border: 3px ridge gray;
}
.layer-outlet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 176px;
  height: 30px;
}
.layer-title {
  padding-left: 5px;
  font-family: 'Orbitron';
  color: rgb(15, 139, 139);
}
.fa-eye {
  margin-right: 10px;
  cursor: pointer;
}
.layer-buttons-box {
  display: flex;
  justify-content: space-around;
}
.fa-pen {
  transform: scale(1.3);
}
.fa-times {
  transform: scale(1.8);
}
.layer-button {
  width: 30px;
  height: 30px;
  border: 2px ridge gray;
  cursor: pointer;
}
.layer-button:focus {
  outline: none;
}
.layer-button:active {
  background: rgb(15, 139, 139);
}
.layer-list {    
  min-height: 25px;
  max-height: 75px;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}
.layer-item {
  display: flex;
  align-items: center;
  width: 152px;
  height: 25px;
  margin-left: -40px;
  padding-left: 5px;
  cursor: pointer;
  border: 1px solid gray;
}
.hint {
  width: 130px;
  height: 25px;
  text-align: center;
  background: rgba(107, 235, 235, 1);
  border: 1px solid black;
  z-index: 5;
}
.layers-preview {
  position: absolute;
  top: -53px;
  right: -35px;
}
.layers-preview-arrow {
  position: absolute;
  top: 17px;
  right: 41px;
  color: rgba(107, 235, 235, 1);
  z-index: 5;
}
.layers-plus, .layers-up, .layers-down, .layers-edit-name, .layers-merge {
  position: absolute;
  top: -21px;
  right: 83px;
}
.layers-plus-arrow, .layers-up-arrow, .layers-down-arrow, .layers-edit-name-arrow {
  position: absolute;
  top: 17px;
  right: 65px;
  color: rgba(107, 235, 235, 1);
  z-index: 5;
}
.layers-up {
  right: 53px;
}
.layers-down {
  right: 24px;
}
.layers-edit-name {
  right: -4px;
}
.layers-merge {
  top: -36px;
  right: -34px;
}
.layers-remove {
  position: absolute;
  top: -36px;
  right: -44px;
}
.layers-merge-arrow, .layers-remove-arrow {
  position: absolute;
  top: 32px;
  right: 65px;
  color: rgba(107, 235, 235, 1);
  z-index: 5;
}
.layers-remove-arrow {
  right: 45px;
}
