body {
  overflow-x: hidden;
}
.container {
  display: grid;
	grid-template-columns: 50px 150px 2fr 240px;
  grid-template-rows: auto;
  width: 97vw;
  height: 85vh;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
  padding-left: 20px;
}
.tool-pannel {
  grid-column: 1 / 1;
}
.canvas-area {
	display: flex;
	justify-content: center;
	grid-column: 3 / 3;
	width: 100%;
}

.frame-area {
	grid-area: 1 / 2 / span 1 / span 1;
}

.preview-area {
  grid-area: 1 / 4 / span 1 / span 1;
}

.options-area {
  grid-area: 1 / 4 / span 1 / span 1;
	margin-top: 169px;
}
@media (max-width: 360px) {
  body {
    width: 100%;
  }
  #home-page {
    display: flex;
  }
  .menu-icon {
    margin-left: 10px;
  }
  .fa-bars {
    transform: scale(1);
  }
  .task-name {
    font-size: 25px;
  }
  .create {
    position: absolute;
    top: 55px;
    left: 0;
    width: 130px!important;
  }
  .signin {
    position: absolute;
    top: 55px;
    left: 140px;
    width: 137px;
  }
  .account {
    width: 130px!important;
  }
  .dropdown {
    top: 37px!important;
    right: -7px!important;
    width: 94px!important;
  }
  .abcRioButton {
    height: 37px;
    width: 136px;
    margin-left: 7px;
  }
  .error-image-wrapper {
    width: 100vw;
  }
  .error-image-wrapper>img {
    width: 100%;
  }
  .error-text-wrapper {
    width: 82%;
    position: relative;
    left: -36px;
    top: 67px;
  }
  .home-about {
    width: 100%;
  }
}
