.preview {
	width: 180px;
	height: 180px;
	border: 1px solid black;
}
.preview-open {
  position: fixed;
  right: 70px;
  top: 95px;
}
.fa-external-link-alt:hover {
  color: rgb(15, 139, 139);
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
