.canvas {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid black;
}
.drawCanvas {
	position: absolute;
	left: 0;
	border: 1px solid black;
	z-index: 5;
}
.tool-state {
	position: relative;
	top: 430px;
	left: 350px;
}
.canvas-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.canvas-block {
	display: flex;
}
