.active {
  color: rgb(15, 139, 139);
}
.hovered {
  background: whitesmoke;
  border: 1px solid rgb(15, 139, 139);
}
.activeFrame {
	border: 3px solid rgb(15, 139, 139);
}
.hidden {
  display: none;
}
.fas-hovered {
  color: rgb(15, 139, 139);
}
.flexed {
  display: flex;
}
.active-button {
  border: 3px ridge rgb(16, 170, 170);
}
.not-active-button {
  border: 2px ridge gray;
}
.bold {
  font-weight: bold;
}

.optionsBox {
	display: grid;
  grid-template-rows: 35px repeat(2, 1fr);    
  margin-top: 12px;
  width: 182px;
}
.fps-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  border: 1px solid black;
}
.fps-bar {
  width: 111px;
}
.display-fps {
	padding-right: 10px;
}

.settings-buttons {
  position: absolute;
  top: 308px;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.settings-button {
  width: 40px;
  height: 40px;
  border: 2px ridge gray;
  cursor: pointer;
}
.settings-button-cog, .resize-settings, .save-settings, .export-settings {
  position: absolute;
  top: -10px;
  right: 49px;
}
.settings-button-cog-arrow, .resize-settings-arrow, .save-settings-arrow, .export-settings-arrow {
  position: absolute;
  top: 5px;
  right: -8px;
  color: rgba(107, 235, 235, 1);
  z-index: 5;
}
.big.hint {
  height: 40px;
}
.resize-settings {
  top: 30px;
}
.save-settings {
  top: 70px;
}
.export-settings {
  top: 110px;
}

.options-blocks-area {
  position: absolute;
  top: 115px;
  right: -244px;
  width: 240px;
  height: 400px;
  background: whitesmoke;
  border: 2px ridge gray;
  transition: all 0.2s ease-in-out;
}
.options-blocks-area:hover {
  cursor: default;
}

.slide {
  transform: translate(-244px,0);
}
