

.active {
  color: rgb(41, 212, 127);
}
.hovered {
  background: rgba(115, 245, 115, 0.192);
  border: 1px solid green;
}
.activeFrame {
	border: 3px solid blue;
}
.hidden {
  display: none;
}
.fas-hovered {
  color: rgb(109, 245, 177);
}


.optionsBox {
	display: grid;
  grid-template-rows: 50px repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.fps-options {
  display: flex;
  align-items: center;
  width: 220px;
}
.display-fps {
	padding-right: 10px;
}

.default-size, .resize {  
  display: block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}
.default-width, .default-height {
  display: inline-block;
  width: 30px;
  padding: 0 10px;
  margin: 0 5px;
  border: 1px solid black;
}
.canvas-width {
  display: inline-block;
  width: 30px;
}
.new-width-block {
  margin-bottom: 0;
}
.resize-input {
  width: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.error-message {
  margin: 0;
  height: 25px;
  color: rgb(206, 35, 35);
}
.resize-button {
  width: 100px;
}
