.user-page {
  display: grid;
  grid-template-columns: 230px 130px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'img list piskels'
  'info list piskels';
  width: 95%;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
  background: whitesmoke;
}
.user-image {
  grid-area: img;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.user-name {
  grid-area: info;
}
.piskel-list {
  grid-area: list;
}
.user-piskel-preview-area {
  grid-area: piskels;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.user-preview-piskel-block {
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.preview-wrapper {
  width: 175px;
  height: 230px;
  margin: 5px;
  border: 2px ridge gray;
}
.preview-gif {
  width: 100%;
  border-bottom: 2px ridge gray;
}
.preview-gif-title {
  position: relative;
  display: block;
  width: inherit;
  height: 29px;
  margin-top: -4px;
  font-size: 20px;
  text-align: center;
  background: white;
}
.piskel-preview-button {
  position: relative;
  top: -80px;
  background: none;
  border: none;
  outline: none;
}
.preview-gif-date {
  position: relative;
  display: block;
  width: inherit;
  height: 25px;
  color: black;
  text-align: center;
  background: white;
}
